    <% layout('layouts/boilerplate') %>

        <div class="container d-flex justify-content-center align-items-center mt-5">
            <div class="row vw-100">
                <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                    <div class="card shadow mb-5">
                        <img src="https://images.unsplash.com/photo-1510672981848-a1c4f1cb5ccf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3272&q=80"
                            alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Register</h3>
                            <form action="/register" class="needs-validation" method="POST" novalidate>
                                <div class="mb-3">
                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" type="text" name="username" id="username" required autofocus>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" type="email" name="email" id="email" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" type="password" name="password" id="password" required>
                                </div>
                                <button class="btn btn-success w-100">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>